<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radiopirate.android"
    android:versionCode="29"
    android:versionName="1.74.273" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- To be able to auto start the service when the service boots -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To be able to only lock wifi when wifi is used -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- For device that do not have a touchscreen  but does support touch emulation for basic events (GoogleTV) -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Set debuggable to false for release on Market, true while debugging -->
    <application
        android:name="RPApplication"
        android:description="@string/app_name"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="StartUp"
            android:theme="@style/MainTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Login"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name="Main"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name="Preferences"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".pre_fragment.MainTabActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".pre_fragment.LivePlay"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".pre_fragment.Podcasts"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".ChannelInfo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/MainTheme" >
        </activity>

        <activity-alias
            android:name=".CarModeShortCut"
            android:exported="true"
            android:icon="@drawable/icon_carmode"
            android:label="@string/app_name"
            android:targetActivity="StartUp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.CAR_MODE" />
            </intent-filter>
        </activity-alias>

        <service android:name="com.radiopirate.lib.service.PlaybackService" >
            <intent-filter>
                <action android:name="com.radiopirate.android.PlaybackService" />
            </intent-filter>
        </service>

        <receiver android:name="BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.RPAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.radiopirate.android.STATUS_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/rp_appwidget_info" />
        </receiver>
        <receiver android:name="com.radiopirate.lib.service.MediaControlEventReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>